
/*弹窗样式*/
.api_Eject_c {
	width: 90%;
	left: 5%;
	top:30%;
	border-radius: 5px;
	position: fixed;
	padding-bottom: 5%;
	z-index: 9999;
	background: #fff;
}
.api_Eject_year {
	width: 60%;
	left: 20%;
	top: 30%;
	position: fixed;
	z-index: 9999;
	background: #fff;
}
.api_Payment_pwd {
	text-align: center;
}
.api_Payment_pwd h1{
	font-size: 1.5em;
	font-weight: 100;
	margin-top: 8%;
}
.api_Payment_pwd h2{
	font-size: 1.2em;
	font-weight: 100;
	color: #999999;
	margin-top: 2%;
}



.api_Payment_year {
	text-align: center;
}
.api_Payment_year h1{
	font-size: 1.5em;
	font-weight: 100;
	border-bottom: 2px solid #069FFF;
	padding: 6% 6%;
}
.api_Payment_year h2{
	font-size: 1.2em;
	font-weight: 100;
	color: #999999;
	margin-top: 2%;
}
.api_Payment_year li {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #D7D7D7;
}

.api_Payment_year li:hover {
	background: #EAF4FE;
}


.api_payment_input {
	width: 100%;
	margin-top: 5%;
}
.api_payment_input input {
	width: 15%;
	margin-right: 1%;
	text-align: center;
	background: #EAF4FE;
	height: 50px;
}
.api_rech_submit {
	width: 100%;
	margin-top: 8%;
	
}
.api_rech_Button {
	border-radius:4px ;
	width: 40%;
	float: left;
	font-size: 1.5em;
	margin-left: 6%;
	height: 40px;

	line-height: 40px;
	
}
.colorFF0 {
	color:#FF0B0C;
}
.api_rech_Cancel {
	background: #e8e8e8;
	color: #0079FC;
	
}
.api_rech_Cancel a{
	color: #0079FC;
	width: 100%;
	height: 30px;
	display: inline-block;
}
.api_rech_Payment {
	background: #069fff;
	color: #FFF;
}
.api_rech_Payment a{
	color: #FFF;
	width: 100%;
	height: 30px;
	display: inline-block;
}

.black_overlayasd{ 
			position: fixed; 
			height: 100%;
			width: 100%;
			background: #000;
			background: rgba(0,0,0,.3);
			filter:Alpha(opacity=30);
			z-index: 1000;
			display: none;
			top: 0;
			left: 0; 
}
.black_adoverlayasd{ 
			position: fixed; 
			background: #000;
			background: rgba(0,0,0,.5);
			filter:Alpha(opacity=50);
			z-index: 1000;
			display: none;
			top: 0;
			left: 0; 
}
#screen {
    background: #000 none repeat scroll 0 0;
    display: none;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 9998;
}


/*提示框样式*/

.tc_click {
			width:70%;
			margin:0 auto;
			height:60px;
			left:25%;
			top:40%;
			position:fixed;
			display:none;
			z-index:6666;
}

.tc_click01 {
		width:50%;
		height:60px;
		position:fixed;
		text-align: center;
		background:#000;
	    filter:alpha(opacity=60);  
    	-moz-opacity:0.6;  
    	-khtml-opacity: 0.6;  
  	    opacity: 0.6; 
}
.tc_click_test {
	color:#FFF;
	width:50%;
	line-height:60px;
	text-align:center;
	position:fixed;
	
}

/*协议样式*/

.api_fqsc_Eject_c {
	width: 90%;
	left: 5%;
	top:10%;
	position: fixed;
	padding-bottom: 5%;
	z-index: 9999;
	background: #fff;
}

.api_fenqi_borrowxy {
	width: 88%;
	margin: 0 auto;
	overflow: auto;
	text-align: justify;
	color: #999999;
	line-height: 2em; 
	max-height: 240px;
	margin-top: 5%;
}


.api_fenqi_xieyi {
	width: 88%;
	margin: 0 auto;
	overflow: auto;
	text-align: justify;
	color: #999999;
	line-height: 2em; 
	max-height: 300px;
	margin-top: 5%;
}


/* 扫一扫提示框 */



.api_Eject_s {
	width: 90%;
	left: 5%;
	top:30%;
	border-radius: 5px;
	position: fixed;
	padding-bottom: 5%;
	z-index: 9999;
	background: #fff;
}

.api_Eject_k {
	width: 90%;
	left: 5%;
	top:20%;
	border-radius: 5px;
	position: fixed;
	padding-bottom: 5%;
	z-index: 9999;
	background: #fff;
}

.api_Eject_n {
	width: 80%;
	left: 10%;
	top:30%;
	border-radius: 5px;
	position: fixed;

	z-index: 9999;
	background: #fff;
}
@media screen and (max-width : 360px) {	
	.api_Eject_n{ font-size:11px;}

}
@media screen and (min-width: 360px) and (max-width : 479px) {
	.api_Eject_n{ font-size:12px;}

}
@media screen and (min-width: 480px) and (max-width: 640px) {

	.api_Eject_n{ font-size:15px;}


}
.app_poptitle {
	margin-top: 15px;
	margin-bottom: 10px;
	line-height: 30px;
	font-size: .32rem;
}

.ba_backg {
	background: #F7F7F7;
	
}
.app_poptitle .sl_mone {
	color: #FD8046;

	margin-right: 5px;
	
}
.app_scck {
	width: 100%;
	height: 40px;
	position: relative;

}
.app_suser {
	width: 38%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: right;
}
.app_smoney {
	width: 56%;
	height: 30px;
	text-align: left;
	line-height: 40px;
	float: right;
}
.app_smoney input {
	width: 50%;
	height: 30px;
}
.app_smoney .ssd_rech {
	color: #1381FE;
	margin-left: 8%;

}
.app_smoneysd {
	width: 56%;
	height: 30px;
	text-align: left;
	line-height: 40px;
	float: right;
}
.app_smoneysd input {
	width: 50%;
	height: 30px;
	margin-right: 10px;
	background: #F7F7F7;
}


.app_cd_text {
	position: absolute;
	top: 47px;
	color: #FF1818;
	right: 10px;
}
.app_margintop {
	margin-top: 20px;
}


.api_rechsr_submit {
	width: 100%;
	border-top: 1px solid #d7d7d7;
	margin-top: 8%;
	
}
.api_rech_lefts_Button {
	width: 49%;
	float: left;
	font-size: 1.5em;
	color: #007AFF;
	border-right: 1px solid #d7d7d7;
	height: 40px;
	line-height: 40px;
}
.api_rech_lefts_Button a {
	color: #007AFF;
}
.api_rech_rights_Button {
	width: 50%;
	float: left;
	color: #007AFF;
	font-size: 1.5em;
	height: 40px;
	line-height: 40px;
}
.api_rech_rights_Button a {
	color: #007AFF;
}
.api_rech_middle_Button {
	width: 100%;
	float: left;
	font-size: 1.5em;
	color: #007AFF;
	border-right: 1px solid #d7d7d7;
	height: 40px;
	line-height: 40px;
}
/* 首页弹出层 */
.activityMask{
	width:100%;
	height:100%;
	position: fixed;
    background: #000;
    opacity: 0.8;
    z-index: 1000;
    top:0;
    left:0
}
.activityPop{
	width:6.07rem;
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-3.02rem;
	margin-top:-3.2rem;
	z-index: 1010;
	background: #fff;
	border-radius: 0.2rem;
	border:0.03rem solid #fc651c;
	overflow: hidden;
}
.activityPop_h2{
	width:100%;
	position: relative;
	height:1.2rem;
	font-size: 0.38rem;
	color:#fc651c;
	text-align: center;
	line-height: 1.2rem;
	overflow:hidden;
    font-weight: bold;
    border-radius: 0.2rem 0.2rem 0 0;
    letter-spacing: 0.04rem;
}
.activityPop_h2_close{
	position: absolute;
	top:0;
	right:0;
	z-index:100;
	width:0.26rem;
	height:0.26rem;
	 -webkit-box-sizing:content-box;
    box-sizing:content-box;
    padding:0.2rem;
}
.activityPop_h2_back{
	width:100%;
	position: absolute;
	height:1.2rem;
	top:0;
	left:0;
    z-index: -1;
}
.activityPop_cont{
	padding:0.44rem 0.3rem 0.36rem 0.3rem;
}
.activityPop_cont h2{
	font-size: 0.32rem;
	color:#222;
	font-weight: 100;
}
.activityPop_cont p{
	font-size: 0.32rem;
	color:#222;
	line-height: 0.55rem;
	margin-top:0.24rem;
	text-align: justify;
	text-indent: 0.5rem;
	font-weight: 100;
}
.activityPop_btn{
	width:4.15rem;
	line-height:1.08rem;
	height:1.08rem;
	/* background: url("../../noticeNew/img/noticePopBtn.png") center no-repeat ; */
	background-size:contain;
	text-align: center;
	color:#fff;
	font-size: 0.38rem;
	margin:0.3rem auto 0 auto;
}
.activityPop_btn:active{
	width:4.15rem;
	line-height:1.08rem;
	height:1.08rem;
	/* background: url("../../noticeNew/img/noticePopBtnHover.png") center no-repeat ; */
	background-size:contain;
	text-align: center;
	color:#f00;
	font-size: 0.38rem;
	margin:0.3rem auto 0 auto;
}
/* 弹出图片弹层 */
/*弹出图片层*/
.activityPop02{
    position: fixed;
    z-index: 1010;
    top: 0;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.activityPop02_close{
	position: absolute;
	top:1rem;
	right:0.5rem;
	width:0.4rem;
	z-index:1010;
}
.activityPop02_poto{
	position: absolute;
	width:6.3rem;
	top:3.3rem;
	left:50%;
	margin-left:-3.1rem;
	z-index:1010;
	-webkit-box-sizing:content-box;
    box-sizing:content-box;
}
.activityPop02_poto img{
	width:6.3rem;
}
.api_rech_lefts_Button{
	color:#666;
}
.api_rech_rights_Button{
	color: #FF7E00;
}